
* {
  font-family: Helvetica, sans-serif;
}

p {
  opacity: 0.8;
}

table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
  margin: 1rem auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #85144B;
}

table, tr, td {
  border: 1px solid white;
}

td {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 60px;
}

.unfilled:hover {
  background-color:  #F012BE;
}

.filled {
  text-align: center;
  font-size: 60px;
}

#game-over {
  background-color: black;
}

#help-text {
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
}

button {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

.autofilled {
  opacity: 1;
}

.copyright {
  text-align: right;
}