* {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

body {
  width: 500px;
  margin: 2rem auto;
}

p {
  opacity: 0.8;
}

table {
  border-collapse: collapse;
  width: 500px;
  height: 500px;
  margin: 0.5rem auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #800000;
}

table, tr, td {
  border: 1px solid white;
}

td {
  width: 166.66666666666666667px;
  height: 166.66666666666666667px;
  text-align: center;
  font-size: 50px;
}

.unfilled:hover {
  background-color:  #F012BE;
}

.filled {
  text-align: center;
  font-size: 60px;
}

#help-text {
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
}

button {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

.autofilled {
  opacity: 1;
}

.copyright {
  text-align: right;
}

.hover:hover {
  background-color: white;
  opacity: 0.5;
}

h2 {
  text-align: right;
  margin: 0;
  padding: 0;
}